body{
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50,#2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9) 
     
}
.heading{
    display:inline;
    color: #fff;
}
/* .responsive{
    max-width: 25%;
    height: auto;
    border-radius: 25%;
    padding: 15px;
}*/
.book-card{ 
    height:100vh;
}
.displayBox{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.scroll-box{
    overflow-y: auto;
    height: 75vh;
    float: left;
    padding:1rem;
}

.card-footer{
    text-align: center;
    /* border:1px solid black; */
    
}
.inputText{
    width:80%;
    width: 250px;
}